.input {
  display: flex;
  width: 90%;
  position: relative;
  align-items: center;
}

.inputBox {
  width: 100%;
  border-radius: 50px;
  padding: 20px 30px;
  font-size: 25px;
  border: none;
  transition: 0.25s;
  box-shadow: inset 0 0 5px black;
}

.inputBox:focus {
  box-shadow: 0 0 10px 1000px rgba(0, 0, 0, 0.3);
  outline: none;
}

.inputBtn {
  position: absolute;
  width: 50px;
  height: 50px;
  margin: 12px;
  border-radius: 50px;
  right: 0;
  border: none;
  font-size: 15px;
  background-color: #2f74c0;
  color: white;
  transition: 0.25 all;
  box-shadow: 0 0 10px black;
}

.inputBtn:hover {
  background-color: #388ae2;
  cursor: pointer;
}

.inputBtn:active {
  transform: scale(0.8);
  box-shadow: 0 0 5px black;
}

.todos {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  flex-wrap: wrap;
}

.singleTodo {
  display: flex;
  width: 29.5%;
  border-radius: 5px;
  padding: 20px;
  margin-top: 15px;
  background-image: url("https://images.unsplash.com/photo-1615457938971-3ab61c1c0d57?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80");
  opacity: 0.7;
}

.todoText {
  flex: 1;
  padding: 5px;
  border: none;
  font-size: 20px;
}

.todoText:focus {
  outline: none;
}

.icon {
  margin-left: 15px;
  font-size: 25px;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .singleTodo {
    width: 40%;
  }
}

@media (max-width: 700px) {
  .input {
    width: 95%;
  }
  .todos {
    width: 95%;
  }
  .singleTodo {
    width: 100%;
  }
}
